{{ partial "header.html" . }}

<div class="hero-body content-meta" {{ with .Params.featured }} style="background-image: url('{{ . }}');" {{ end }}>
    <div class="container">
        <h1 class="title">
                {{ .Title }}
        </h1>
        <h2 class="date">
                {{ .Date.Format "Mon Jan 2, 2006" }}
        </h2>
        {{ partial "addthis" . }}
    </div>
</div>
</section>

<section class="contact">
    <div class="container hero-body">
        <article id="content">
                {{ .Content }}
        </article>
    </div>
</section>


  <aside id="meta">
      <div>
      {{ with .Params.topics }}
      <ul id="topics">
        {{ range . }}
          <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
        {{ end }}
      </ul>
      {{ end }}
      {{ with .Params.tags }}
      <ul id="tags">
        {{ range . }}
          <li> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
        {{ end }}
      </ul>
      {{ end }}
      </div>
      <div>
          {{ with .PrevInSection }}
            <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
          {{ end }}
          {{ with .NextInSection }}
            <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
          {{ end }}
      </div>
  </aside>
{{ partial "addthis-script" . }}
{{ partial "footer.html" . }}