<!DOCTYPE html>
<html lang="en">
<head>
	<title> {{ .Page.Description }} </title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<meta name="description" content="Freelance Web Developer based in Malaysia. I code your awesome PSD design and make it functioning on your browser. I able to make it in WordPress template too. "/>
	<meta name="keywords" content="wordpress freelance front end web developer malaysia"/>

	<meta property="og:title" content="Epal Valley . Freelance Front-End Web Developer for Hire">
	<meta property="og:site_name" content="Epal Valley">
	<meta property="og:url" content="https://epalvalley.co">
	<meta property="og:description" content="Freelance Web Developer based in Malaysia. I code your awesome PSD design and make it functioning on your browser. I able to make it in WordPress template too.">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://www.epalvalley.com/image/archinext.png">
	<meta property="business:contact_data:country_name" content="Malaysia">

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:description" content="Freelance Web Developer based in Malaysia. I code your awesome PSD design and make it functioning on your browser. I able to make it in WordPress template too. " />
	<meta name="twitter:title" content="Epal Valley • G Freelance Front-End Web Developer for Hire" />
	<meta name="twitter:site" content="@jakzaizzat" />
	<meta name="twitter:image" content="https://www.epalvalley.com/image/archinext.png" />
	<meta name="twitter:creator" content="@jakzaizzat" />

</head>
<body>

<section class="hero is-medium">
		<!-- Hero header: will stick at the top -->
		<div class="hero-head">
			<header class="nav">
				<div class="container">
					<div class="nav-left">
						<a class="nav-item logo"  href="https://epalvalley.com/">
							<img src="/image/logo.svg" alt="EV Logo"> EPALVALLEY
						</a>
					</div>
					
					<span class="navbar-burger burger" data-target="navMenu">
						<span></span>
						<span></span>
						<span></span>
					</span>
	
					<div id="navMenu" class="nav-right nav-menu">
						<a class="nav-item is-active" href="https://epalvalley.com/blog">
							Blog
						</a>
						<a class="nav-item is-active" href="https://epalvalley.com/about">
							About
						</a>
						<a class="nav-item" href="https://epalvalley.com/contact">
							Contact
						</a>
					</div>
				</div>
			</header>
		</div>