<!DOCTYPE html>
<html lang="en">
<head>
	<title> {{ .Page.Description }} </title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<section class="hero is-medium">
		<!-- Hero header: will stick at the top -->
		<div class="hero-head">
			<header class="nav">
				<div class="container">
					<div class="nav-left">
						<a class="nav-item logo">
							<img src="/image/logo.svg" alt="Logo"> EPALVALLEY
						</a>
					</div>
					
					<span class="nav-toggle">
						<span></span>
						<span></span>
						<span></span>
					</span>
	
					<div class="nav-right nav-menu">
						<a class="nav-item is-active">
							Guide
						</a>
						<a class="nav-item">
							Journey
						</a>
						<a class="nav-item">
							Hotels
						</a>
						<a class="nav-item">
							Travelers
						</a>
						<a class="nav-item">
							Travelers
						</a>
					</div>
				</div>
			</header>
		</div>