<div class="hero-head">
    <header class="nav">
        <div class="container">
            <div class="nav-left">
                <a class="nav-item logo">
                    <img src="image/logo.svg" alt="Logo"> EPALVALLEY
                </a>
            </div>
            
            <span class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </span>

            <div class="nav-right nav-menu">
                <a class="nav-item is-active">
                    Guide
                </a>
                <a class="nav-item">
                    Journey
                </a>
                <a class="nav-item">
                    Hotels
                </a>
                <a class="nav-item">
                    Travelers
                </a>
                <a class="nav-item">
                    Travelers
                </a>
            </div>
        </div>
    </header>
</div>